/* #region Root */
:root {
    --list-gap: 20px;
}

/* #endregion Root */

/* #region Regole Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

button {
    display: block;
    padding: 0.5rem 1.25rem;
    border: none;
    border-radius: 20px;
    background-color: lightgreen;
    cursor: pointer;
}

button.nascondi {
    background-color: darkred;
    color: #fff;
}

/* #endregion Regole Reset */

/* #region Regole Layout */
.container {
    max-width: 1024px;
    margin-inline: auto;
}

/* #endregion Regole Layout */

/* #region Spesa */
.spesa__title {
    text-align: center;
    margin-block: 20px 25px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.spesa__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--list-gap);
}

.list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc(100% / 5 - var(--list-gap));
    aspect-ratio: 1;
    font-size: 1.5rem;
    background-color: cornflowerblue;
    border-radius: 20px;
}

/* #endregion Spesa */